{% extends "_base.html" %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
  <div class="article-detail">
    {% if article.cover %}
      <img class="articlecover" src="{{ article.cover.url}}" alt="{{ article.title }}">
    {% endif %}
    <h2><a href="">{{ article.title }}</a></h2>
    <p>Author: {{ article.author }}</p>
    <p>{{ article.body }}</p>
    <p>{{ article.body2 }}</p>
    <p>{{ article.body3 }}</p>
    <p>{{ article.body4 }}</p>
    <p>{{ article.body5 }}</p>
    <p>{{ article.body6 }}</p>
    <p>{{ article.body7 }}</p>
    <p>{{ article.body8 }}</p>
    <p>{{ article.body9 }}</p>
    <p>{{ article.body10 }}</p>
   <div>
      <h3>Reviews</h3>
      <ul>
        {% for review in article.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}