
{% extends "_base.html" %}
{% load static %}
{% block title %}About{% endblock title %}

{% block content %}
<h1 text-style='center' >Bootstrap5 with Masonary</h1>

    <div class="container-fluid">
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-md-3">
                <div class="card my-3">
                    
                    <img src="{% static '/images/1.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy toscrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/2.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/3.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the pndustry. Lorem Ieen the industry's
                            standard dummy text ever since the 1500s, when a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/4.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/5.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is sen an unknown printer took a galley of type and scrambled
                        </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/6.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard du an unknown printer took a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/7.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum ise printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text 1500s, when an unknown printer took a galley of type and
                            scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/8.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/9.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy tex 500s, when an unknown printer took a galley
                            of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/10.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standr took a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/10.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standan an unknown printer took a galley of type and
                            scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/6.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dumm00s, when an unknown printer took a galley of type and
                            scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/5.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy tex 500s, when an unknown printer took a galley
                            of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/7.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy s, when an unknown printer took a galley of type and
                            scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/8.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy tex 500s, when an unknown printer took a galley
                            of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/1.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard du an unknown printer took a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/1.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text 1500s, when an unknown printer took
                            a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/1.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard du an unknown printer took a galley of type and
                            scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card my-3">
                    <img src="{% static '/images/2.jpg' %}" class="img-fluid" alt="thumbnail">
                    <div class="card-body">
                        <h3 class="card-title">Lorem, ipsum dolor.</h3>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text 1500s, when an unknown printer took
                            a galley of type and scrambled</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}